html {
    box-sizing:border-box
}

*,:before,:after {
    box-sizing:inherit
}

body {
    margin:0 auto
}

footer,header {
    position:relative;
    clear:both
}

.sidebar {
    background-color: #302040;
    color: #fff;
}

h1 {
    margin-top: 0px;
}

.nav {
    list-style:none;
    margin-left:0;
    margin-bottom:0;
    padding-left:0
}

.nav > li,.nav > li > a {
    display: inline-block;
    zoom:1
}

a:link {
    color: #fff
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
.columns-container {
    float:left
}

.sidebar {
    background-color: #302040;
    color: #fff;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width:18.75em;
    margin-right:-19.3em;
    float:left
}

.nav > li,.nav > li > a {
    display: list-item;
    zoom:1
}

.right-column {
    margin-left:20em;
    float:left
}
}
